@font-face {
    font-family: 'Rubik';
    src:  url('../fonts/Rubik-VariableFont_wght.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src:  url('../fonts/Rubik-VariableFont_wght.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src:  url('../fonts/Rubik-VariableFont_wght.ttf') format('ttf')
    font-weight: 700;
}